@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap');
/* font-family: 'Open Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');
/* font-family: 'Roboto', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');
/* font-family: 'Montserrat', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Karla:400,400i,700,700i&display=swap');
/* font-family: 'Karla', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');
/* font-family: 'Poppins', sans-serif; */

html {
	position: relative;
	background: #fff;
	min-height: 100%;
}
body {
	width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
	line-height:26px;
	vertical-align:baseline;
	letter-spacing:normal;
	word-spacing:0px;
	box-sizing: border-box;
	background: #f9f9f9;
}
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	font-family: 'Montserrat', sans-serif;
}
p {
	font-family: 'Karla', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0.6px;
    word-spacing: 1px;
    color: #4c4c4c;
}
p strong {
	font-weight: bold;
}
a, a:hover, a:focus {
	text-decoration: none;
	color: #555555;
}
.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}
/* header START */
#main .container {
	max-width: 98%;
	height: auto;
	padding-left: 75px;
	padding-right: 75px;
}
.padding-sec {
	padding-top: 6rem;
	padding-bottom: 6rem;
}
/* scroll top fixed header START*/
.home_bg {
    width: 100%;
    height: 100vh;
    background: rgb(103, 58, 183);
    background: linear-gradient(180deg, rgb(169, 91, 198) 0%, rgb(58, 26, 117) 100%);
}
.footer_bg {
	background-color: #ff4400 !important;
}
.home_page {
	position: relative;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
	cursor: pointer;
}
.home_page a{
	margin: 50px 50px;
}
.logo_section {
    margin:0 auto;
	padding: 10px;	
    width: 250px;
    height: 250px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
	position: relative;
	border-radius: 100%;
    border: 15px solid rgb(236, 236, 236,0.9);
	box-shadow: 0px 0px 30px rgb(140, 22, 121);	
}
.logo_section img{
	top: 0;
    left: 0;
    min-width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100px;
}
.header-bar {
    background: #07012d;
    height: 40px;
    position: relative;
    z-index: 1;
}
.header-bg {
	position: relative;
	margin-top: 0;
	z-index: 2;
    width: 100%;
    -webkit-box-shadow: 0px 2px 15px 1px rgba(1,1,1,0.25);
    -moz-box-shadow: 0px 2px 15px 1px rgba(1,1,1,0.25);
    box-shadow: 0px 2px 15px 1px rgba(1,1,1,0.25);
}
/* logo  */
ul {
	list-style-type: none;
	list-style-position: outside;
	padding: 0;
	margin: 0;
}
.navbar-light .navbar-nav .nav-link {
    color: rgb(7, 1, 45);
}
.navbar-light .navbar-nav .nav-link:hover {
	border-bottom: 4px solid #fff;
}
.dropdown-menu {
	border-radius: 0;
	padding: 0;
}
.dropdown-item {
  
}
.dropdown:hover .dropdown-menu {
  display: block;
  top: 100%;
}
/* scroll top fixed header */
#nav_bar {
	/* this id to added to scroll to top */
    background: #ffffff;
}
.navbar-fixed {
    top: 0;
	margin: 0;
    z-index: 100;
    position: fixed;
    width: 100%;
	height: 75px;
    background: #fff;
}
.navbar-fixed .logo {
    width: 125px;
    height: auto;
    margin: 0;
}
.logo {
	width: 100%;
	height: auto;
	margin-top: 2px;
	margin-bottom: 2px;
}
.logo {
	width: 125px;
	height: auto;
}
.navbar-fixed .headr-contact {
	display: none;
}
.navbar-nav .nav-link {
    display: block;
    padding: .5rem 1rem;
    font-size: 16px;
    font-weight: bold;
    color: #ff4400 !important;
    text-transform: uppercase;
}
/* scroll top fixed header END*/
.title-h1{
	font-size: 40px;
	text-align: center;
	text-transform: none;
	margin-top: 10px;
	margin-bottom: 10px;
}
h2 {
    font-size: 28px;
    font-weight: 700;
    text-align: left;
    letter-spacing: normal;
    text-transform: capitalize;
    margin-top: 15px;
    margin-bottom: 12px;
    color: #75c60a;	
}
.title-h2 {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    letter-spacing: normal;
    text-transform: capitalize;
    margin-top: 15px;
    margin-bottom: 12px;
    color: #75c60a;	
}
.title-h2::before {
    content: '';
    border-bottom: 4px solid #ff4400;
    width: 75px;
    display: inline-block;
    bottom: 0;
    margin: 0 auto;
    position: absolute;
    left: 47%;
}
.title-h3 {
    display: inline-block;
    margin: 0 auto;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    padding-bottom: 8px;
    letter-spacing: 1px;
    text-transform: none;
    margin-top: 15px;
    margin-bottom: 22px;
    color: #75c60a;
    border-bottom: 3px solid #ff4400;
}
.title-h4 {
    font-size: 22px;
    font-weight: 700;
    text-align: left;
    text-transform: none;
    margin-bottom: 10px;
    color: #75c60a;
}
.about-text {
    margin: 0;
	padding: 15px 25px;
	text-align: justify;
	position: relative;
	width: 100%;
}
.beauty_service {
	position: relative;
    width: 375px;
    height: 450px;
    margin: 15px auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 45px 30px;
    background: #fff;
    box-shadow: 0px 0px 25px rgba(113, 113, 113, 0.2);
    border-radius: 15px;
	transition: 0.5s;
}
.beauty_service:hover {
	box-shadow: 0px 0px 25px rgb(255, 210, 196);
	transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
	transform: translateY(-15px);
	background: #73c800;
}
.beauty_service:hover .beauty-text h2,
.beauty_service:hover .beauty-text p{
	color: #fff;
}
.beauty_service img {
    position: relative;
    top: 0;
    left: 0;
    width: 225px;
    height: 225px;
    object-fit: cover;
    background-position: center top;
    z-index: 1;
    border-radius: 100%;
    background: #dedede;
}
.beauty-text h2 {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    letter-spacing: normal;
    text-transform: capitalize;
    margin-top: 15px;
    margin-bottom: 12px;
    color: #2a2a2a;
}
.beauty-text p {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    margin-bottom: 20px;
}
.service_bg {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.1)), url(../image/header-bg/home-service.jpg);
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 10rem;
    padding-bottom: 10rem;
    margin: 0 auto;
} 
.service_list {
    margin: 0;
    padding: 0;
    background-color: transparent;
	position: relative;
    width: 100%;
    height: auto;
}
.service_list::before { 
    content: "";
	opacity: .8;
    background: #000;
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    position: absolute;
}
.service_img {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 77px;
    width: 72px;
    z-index: 1;
}
.service_text {
    display: block;
    position: relative;
    z-index: 9;
    padding: 2px 10px;
    background: #75c60a;
}
.service_text h2{
	font-size: 18px;
	font-weight: 600;
	color: #fff;
	text-align: center;
} 
.swiper-container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  padding-bottom: 50px;
}
.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 380px;
  height: 500px;
  background: #fff;
}
.swiper-slide .imgBox{
	width: 100%;
	height: 500px;
	overflow:hidden;
}
.swiper-slide .imgBox img{
	width: 100%;
}
/* about section START */

.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 0rem;
    background-color: transparent;
    border-radius: 0;
}
.jumbotron p{
	color: #fff;
}
.display-4 {
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 1.2;
	color: #fff;
}
.breadcrumb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: .75rem 1rem;
    margin-bottom: 0;
    list-style: none;
    background-color: transparent;
    border-radius: .25rem;
    justify-content: center;
    align-items: center;
}
.breadcrumb-item a {
	color: #fff;
}
.parallex-1 {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), url(../image/header-bg/1.jpg);
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 10rem;
    padding-bottom: 10rem;
    margin: 0 auto;
}
.parallex-2 {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), url(../image/header-bg/2.jpg);
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 10rem;
    padding-bottom: 10rem;
    margin: 0 auto;
}
.parallex-3 {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), url(../image/header-bg/3.jpg);
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 10rem;
    padding-bottom: 10rem;
    margin: 0 auto;
}
.parallex-4 {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), url(../image/header-bg/4.jpg);
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 10rem;
    padding-bottom: 10rem;
    margin: 0 auto;
}




.profile_box {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 500px;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.imgBox {
    width: 300px;
    height: auto;
    float: left;
    position: relative;
    z-index: 1;
}

.profile_content {
    width: 700px;
    height: 100%;
    background: transparent;
    position: relative;
    padding: 40px 40px;
    flex-direction: column;
	justify-content: center;
    align-items: center;
    text-align: justify;
    z-index: 0;
}
.profile_content:before {
    content: "";
    position: absolute;
    top: -25px;
    bottom: -25px;
    left: -140px;
    right: -20px;
    background: #fff;
    z-index: -1;
    border: 1px solid #ccc;
    border-radius: 12px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.26);
}
.middle {
    position: relative;   
    display: block;
    margin: 0 auto;    
    text-align: center;
}
.profile {
    cursor: pointer;
    width: 275px;
    height: 350px;
    margin: 10px 10px;
}
.front, .back {
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform .4s linear;
}
.front img {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
    border-radius: 12px;
}
.front {
    transform: perspective(600px) rotateY(0deg);
}
.back {
    border: 2px solid #75c60a;
    background: #75c60a;
    transform: perspective(600px) rotateY(180deg);
    border-radius: 12px;
}
.profile:hover >.front {
    transform: perspective(600px) rotateY(-180deg);
}
.profile:hover >.back{
    transform: perspective(600px) rotateY(0deg);
}
.back-content {
    color: #ffffff;
    text-align: center;
    width: 100%;
	position: relative;
    top: 25%;
    left: 0;
}
.back-content h2{
	color: #fff;
	text-align: center;
}
.back-content p{
	color: #fff;
}
.social-media {
    margin: 20px 0;    
}
.social-media a {
    display: inline-flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 18px;
    transition: 0.4s;
    border-radius: 50%;
}
.social-media a:hover {
    background: #2c3e50;
    color: white;
    text-decoration: none;
}
/* about section END */



/* service section START */
.service_box {
	position: relative;
	margin: 20px auto;
	padding: 0;
	box-sizing: border-box;
	background: #fff;
	width: 375px;
    height: auto;
    box-shadow: 0px 0px 25px rgba(113, 113, 113, 0.2);
	transition: 0.5s;
}
.ser_image {
	width: 100%;
	/* height: 225px; */
	height: auto;
	position: relative;
	overflow: hidden;
	-webkit-transform-style: preserve-3d;
	transition: all .5s;
}
.ser_image img{
	top: 0;
	left: 0;	
	min-width: 100%;
	height: auto;
	object-fit: cover;
}
.service_box:hover {	
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.4);
	transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
}
.service_box:hover .ser_image img {	
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
	-webkit-transition: all .4s;
	transition: all .4s;
}

.ser_content {
    padding: 20px 28px;
	width: 100%;
    min-width: 375px;
    height: 260px;
}
.ser_content h2{
	font-size: 22px;
	font-weight: 700;
	margin-top: 13px;
    margin-bottom: 15px;
    line-height: 30px;
	color: #0d1028;
	text-align: center;
	font-family: "Poppins",sans-serif;
}
.ser_content p {
    font-size: 16px;
    line-height: 26px;
    text-align: left;
    transition: all 1s;
}
/* service section END */


/* gallery START */
.masonary {
	columns: 4;
	column-gap: 26px;
}
.masonary .grid {
	display: inline-block;
	margin-bottom: 10px;
	position: relative;
}
.masonary .grid:before {
	border-radius: 5px;
	content: '';
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
}
.masonary .grid img {
	width: 100%;
	border-radius: 6px;
}

/* gallery column repeat-x */
.gallery {
    width: 100%;
    height: 100%;
    margin: 10px auto;
    overflow: hidden;
    padding: 0;
}
.gallery figure {
	margin: 0;
}
.gallery img {
    max-width: 100%;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
	cursor: pointer;
}
.gallery:hover img {
	transition: all 0s ease-in;
	filter:brightness(0.3);	
}
.gallery figcaption {
    color: #555;
    position: relative;
    width: 100%;
    transition: .2s ease-in;
    text-align: center;
    box-shadow: none;
	cursor: pointer;
}
.gallery figcaption h3 {
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    padding: 20px 25px 0px 10px;
}
/* hoverlay-icon start  */	
.thumbnail-hoverlay-icon {
	width: 44px;
    height: 44px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -18px;
	margin-left: -20px;
	opacity: 0;
	-webkit-transform: scale(2.5);
	transform: scale(2.5);
	transition: all .35s ease;
}	
.gallery:hover .thumbnail-hoverlay-icon {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);	
}
.thumbnail-hoverlay-icon a {
    font-size: 18px;
    padding: 5px 10px;
    color: rgba(255,255,255);
    outline: none;
    background: #673ab7;
    border-radius: 5px;
    border: 1px solid #673ab7;
}
.thumbnail-hoverlay-icon a:hover {
	color: #fff;
}
/* gallery END */

/* contact page START */ 
.info-box {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: flex-start;
    align-self: self-start;
    padding: 40px;
	background-color: white;
	box-shadow: 0 6px 15px rgba(36, 37, 38, 0.08);
	border-radius: 16px;
	
}
.info-box .icon {
	width: 50px;
    height: 50px;
    text-align: center;
    border: 1px dotted #f15b24;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    margin-bottom: 10px;
    color: #f15b24;
    border-radius: 50px;
}
.info-box:hover {
    opacity: 1;
    -webkit-transform: translateY(0) scale(1);
    transform: translateY(0) scale(1);
    -webkit-transition: box-shadow 0.25s ease 0s, transform 0.25s ease 0s, -webkit-transform 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;
    transition: box-shadow 0.25s ease 0s, transform 0.25s ease 0s, transform 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;
    box-shadow: 5px 12px 20px rgba(13, 16, 40, 0.2);
	position: relative;
}
.info-box:hover .icon {   
    border: 1px solid #f15b24;
    background: #f15b24;  
	color: #fff;
}
.info-box .content {
	width: 80%;
	height: auto;
	position: relative;
}
.info-box .content h4{
	font-size: 20px;
	font-weight: 700;
}
.info-box .content p,
.info-box .content a {
	font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.5px;
    color: #000;
}
.custom_form {
	padding: 30px 40px;
	margin: 0;
	background-color: white;
	box-shadow: 0 6px 15px rgba(36, 37, 38, 0.08);
	border-radius: 16px;
	border: 1px solid #eaeaea;
}
.custom_form .form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: 0;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    outline: none;
}
.custom_form .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #ff0057;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0);
	-webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out
}
/* contact page END */ 

/* footer START */
.footer_bg {
    background-color: #ff4400 !important;
}

#footer {
    position: absolute;
    bottom: -50px;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    color: #000;
    padding: 15px 10px 5px;
}
#footer p {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #d4d4d4;
}
 #footer a {
	 color: #d4d4d4;
 }

.social-icon li {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 40px;		
	justify-content: center;
	align-items: center;
	margin: 0px 2px;
}
.social-icon li a {
	width: 40px;
	height: 40px;
    display: block;
	padding: 6px;
    text-align: center;
}
.social-icon li a:hover {
	width: 40px;
	height: 40px;
	padding: 6px;
	border-radius: 50px;
	background: #555555;
	color: #fff;
	-webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    transition: all 0.5s linear;
}		
#back2Top {
    width: 40px;
    line-height: 40px;
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0);
    position: fixed;
    bottom: 100px;
    right: 10px;
    background-color: #ff4400;
    color: #ffffff;
    text-align: center;
    font-size: 22px;
    text-decoration: none;
    border-radius: 48px;
}
#back2Top:hover {
    background-color: #DDF;
    color: #000;
}
.slick-arrow {
   color: #F44336;	
}
/* footer END */
.package_list ul{
	list-style-type: none;
	list-style-position: outside;
	padding: 0;
	margin: 0;
}
.package_list li {
	 position: relative;
	 font-size: 16px;
	 font-weight: 500;
	 margin-bottom: 10px;
	 display: flex;
	 font-family: 'Poppins', sans-serif;
 }
 .package_list li:before {
    content: "\f0da";
    font-family: 'FontAwesome';
    display: inline-block;
    font-weight: 800;
    font-size: 22px;
    padding-right: 5px;
    color: #fd0000;
}
.package_list li span {
    position: absolute;
    text-align: left;
    right: 0;
    top: 0;
    font-size: 16px;
    font-weight: 700;
}



/* Media screen START */
	@media (max-width: 768px){
	  	/* homepage logo */		
		.home_page {
			width: 100%;
			height: 500px;
			flex-direction: row;
		}
		.home_page a {
			margin: 10px 10px;
		}
		.logo_section {
			width: 225px;
			height: 225px;
		}
		.navbar-fixed{
			position: fixed;
			width: 100%;
			height: auto;
		}		
		#nav_bar {
			border-bottom: 2px solid #f15b24;
		}
	  	#nav_bar .mt-3 {
			margin-top: 0rem!important;
		}
		#main .container {
			max-width: 100%;
			height: auto;
			padding-left: 10px;
			padding-right: 10px;
		}		
		.logo {
			width: 100px;
			height: auto;
		}		
		.padding-sec {
			padding-top: 2rem;
			padding-bottom: 2rem;
		}
		.about-text {
			padding: 15px 0px;
		}
		h2 {
			font-size: 20px;
		}
		.title-h2 {
			font-size: 22px;
		}
		.title-h2::before {
			left: 40%;
		}
		#footer {
            position: absolute;
            bottom: -120px;
            left: 0;
            right: 0;
            width: 100%;
            text-align: center;
            color: #000;
        }
		#back2Top {
			right: 22px;
		}       
		.parallex-2, .parallex-3, .parallex-4,.parallex-1 {
			padding: 0;
		}
		.info-box {
			margin-bottom: 20px;
		}
		.custom_form {
			padding: 10px;
		}		
		.display-4 {
			font-size: 1.8rem;
        }
		.profile_box {
			height: auto;
		}
		.profile_content {
			width: 100%;
			height: auto;
			padding: 0;
		}
		.service_box {
			margin: 10px 0px;
			padding: 0;
			box-sizing: border-box;
			position: relative;
			width: 100%;
			height: auto;
		}
		.ser_content {
			padding: 10px 20px;
			min-width: 100%;
			height: auto;
		}		
		.beauty_service {
			width: 100%;
			height: auto;
			padding: 20px 10px;
		}
		
		.service_list img {
			top: 0;
			left: 0;
			margin: auto;
			width: 100%;
			height: auto;
			object-fit: cover;
		}		
		
		.masonary {
			columns: 2;
			column-gap: 10px;
			margin: 0px 10px;
		}
		.masonary .grid {
			display: block;
			margin-bottom: 10px;
			position: relative;
		}
		.info-box {
			width: 100%;
			height: auto;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-self: self-start;
			padding: 30px;
			background-color: white;
			box-shadow: 0 6px 15px rgba(36, 37, 38, 0.08);
			border-radius: 16px;
		}
		.info-box .icon {
			width: 50px;
			height: 50px;
			margin: 0 auto;
			text-align: center;
			border: 1px dotted #f15b24;
			background: #fff;
			display: flex;
			justify-content: center;
			align-items: center;
			color: #f15b24;
			border-radius: 50px;
		}
		.info-box .content {
			width: 100%;
			height: auto;
			position: relative;
			text-align: center;
			top: 10px;
		}
		#nav_bar .collapse.show {
			background: #fff;
		}
		
	}
	@media (min-width: 768px) and (max-width: 992px) {
		
	}
	@media screen and (min-width: 768px) and (max-width: 1024px) {
			
	}
	@media (min-width: 1200px) {
		
	}
/* Media screen END */


@media only screen and (min-width: 769px) and (max-width: 1200px){
	#main .container {
		max-width: 98%;
		height: auto;
		padding-left: 0px;
		padding-right: 10px;
	}
	.title-h2 {
		font-size: 28px;
	}
	.beauty_service {
		position: relative;
		width: 100%;
		height: auto;
	}
	.profile_content {
		width: 100%;
		height: auto;
		padding: 25px;
		margin: 0;
	}
	.row-eq-height {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		flex-wrap: wrap;
	}
	.service_box {
		width: 100%;
		height: auto;
	}
	.ser_content {
		padding: 20px 28px;
		width: 100%;
		min-width: 100%;
		height: 100%;
	}
	.ser_image {
		width: 100%;
		height: auto !important;
	}
	.masonary {
		columns: 3;
		column-gap: 10px;
		margin: 0px 10px;
	}
	.masonary .grid {
		display: block;
		margin-bottom: 10px;
		position: relative;
	}
	.info-box {
		padding: 20px;
	}
}